.experienceBar {
  display: flex;
  align-items: center;
}

.experienceBar span {
  font-size: 1rem;
}

.experienceBar > div {
  flex: 1;
  height: 4px;
  border-radius: 4px;
  margin: 0 1.5rem;
  position: relative;
  background: var(--gray-line);
}

.experienceBar > div > div {
  height: 4px;
  width: 100%;
  border-radius: 4px;
  background: var(--green);
  clip-path: polygon(0 0, var(--size-bar) 0, var(--size-bar) 100%, 0 100%);
}

span.currentExperience {
  position: absolute;
  top: 12px;
  transform: translateX(-50%);
  min-width: 1rem;
}

@media screen and (max-width: 704px) {

}