.experienceBar {
  display: flex;
  align-items: center;
}

.experienceBar span {
  font-size: 1rem;
}

.experienceBar > div {
  flex: 1;
  height: 4px;
  border-radius: 4px;
  margin: 0 1.5rem;
  position: relative;
  background: var(--gray-line);
}

.experienceBar > div > div {
  height: 4px;
  width: 100%;
  border-radius: 4px;
  background: var(--green);
  animation: experienceAnim .9s infinite;
  animation-timing-function: ease;
}


span.currentExperience {
  position: absolute;
  top: 12px;
  transform: translateX(-50%);
  min-width: 1rem;
}

@keyframes experienceAnim {
  0%, 100%{
    clip-path: polygon(calc(var(--size-bar) + 1px) 0, calc(var(--size-bar) + 1px) 14%, calc(var(--size-bar) + 1px) 42%, calc(var(--size-bar) + 2px) 57%, var(--size-bar) 73%, calc(var(--size-bar) - 1px) 87%, calc(var(--size-bar) - 2px) 100%, 0 100%, 0% 0%);
  }
  25% {
    clip-path: polygon(calc(var(--size-bar) - 1px) 0, calc(var(--size-bar) - 1px)  14%, var(--size-bar) 42%, calc(var(--size-bar) + 1px) 57%, var(--size-bar) 73%, calc(var(--size-bar) + 1px) 87%, var(--size-bar) 100%, 0 100%, 0% 0%);
  }
  50%{
    clip-path: polygon(var(--size-bar) 0, calc(var(--size-bar) - 2px) 14%, calc(var(--size-bar) - 1px) 42%, calc(var(--size-bar) - 2px) 57%, var(--size-bar) 73%, var(--size-bar) 87%, var(--size-bar) 100%, 0 100%, 0% 0%);
  }
}