.container {
 
  height: calc(100vh - 2rem);
  max-width: 850px;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  padding-left: 9rem;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.container section {
  padding-top: 2rem;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6.25rem;
  align-content: center;
}

@media screen and (max-width: 900px) {
  .container {
      padding-left: 11.5rem;
    }
}

@media screen and (max-width: 704px) {
  .container {
    display: block;
  }

  .container section {
    margin: 6rem 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}
}

@media screen and (max-width: 620px) {
  .container { 
    padding-left: 2rem;
  }
  .container section  {
    padding-bottom: 10rem;
  }
}